@charset "utf-8";
/* CSS Document */

* {
  position: relative;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.piano {
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

.piano_body {
  background-color: #000;
  border: solid 1px black;
}

.maru{
	background-color: yellow;
	border-radius: 100%;
	position: absolute;
	width: 50px;
	height: 50px;
}

.maruani{
	animation: ani 0.5s;
	animation-timing-function: linear;
}
@keyframes ani {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 400px;
  }
}
.maru_1{
	left: 3px;
}
.maru_2{
	left: 60px;
}
.maru_3{
	left: 118px;
}
.maru_4{
	left: 174px;
}
.maru_5{
	left: 232px;
}
.maru_6{
	left: 289px;
}
.maru_7{
	left: 347px;
}
.maru_8{
	left: 421px;
}
.maru_9{
	left: 478px;
}
.maru_10{
	left: 536px;
}
.maru_11{
	left: 594px;
}
.maru_12{
	left: 651px;
}
.maru_13{
	left: 725px;
}

.sheets {
  height: 350px;
  margin: 10px;
  font-size: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.sheets .sheet {
  height: 100%;
  display: inline-block;
  border-right: solid 2px #909090;
}
.sheets .sheet_0 {
  width: 29px;
}
.sheets .sheet_1 {
  width: 57px;
}
.sheets .sheet_2 {
  width: 57px;
}
.sheets .sheet_3 {
  width: 57px;
}
.sheets .sheet_4 {
  width: 58px;
}
.sheets .sheet_5 {
  width: 57px;
}
.sheets .sheet_6 {
  width: 58px;
}
.sheets .sheet_7 {
  width: 74px;
}
.sheets .sheet_8 {
  width: 57px;
}
.sheets .sheet_9 {
  width: 58px;
}
.sheets .sheet_10 {
  width: 57px;
}
.sheets .sheet_11 {
  width: 58px;
}
.sheets .sheet_12 {
  width: 74px;
}

.piano_bottons {
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 100px;
  height: 180px;
  background-color: #fff;
  border: solid 2px black;
  border-radius: 0 0 10px 10px;
}
.buttons .btn_black {
  width: 50px;
  height: 140px;
  background-color: black;
  color: white;
}
